{% extends "../ui/base.html" %}

{% block mappanel %}

<div id="cm-example" style="width: 100%; height: 500px" class="map"></div>

<script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
<script type="text/javascript">
    var cloudmade = new CM.Tiles.CloudMade.Web({key: 'BC9A493B41014CAABB98F0471D759707', styleId:'997'});
    var map = new CM.Map('cm-example', cloudmade);
    map.setCenter(new CM.LatLng(59.3340,18.0595), 14);
	
	{% for location in locations %}

		var myMarkerLatLng{{forloop.counter}} = new CM.LatLng({{location.lat}},{{location.lon}});
		var myMarker{{forloop.counter}} = new CM.Marker(myMarkerLatLng{{forloop.counter}}, {});
		map.addOverlay(myMarker{{forloop.counter}});

	{% endfor %}

</script>

{% endblock %}

{% block activitypanel %}
<h3>Recent activity</h3>
{% for activity in activities %}
	<div class="activityrow">Someone has just read <strong>{{activity.title}}</strong> in <strong>{{activity.location}}</strong> on an <strong>{{activity.device}}</strong> <span id="when">[{{activity.created_at|timesince}} ago]</div>
{% endfor %}
{% endblock%}

{% block locationspanel %}
<h3>Locations</h3>
{% for location in locations %}
	<h5>
		{{location.lat}},{{location.lon}} [{{location.viewcount}} views]
	</h5>
	<div class="sectionlist">
		{% for section in location.sectionlist %}
			<span class="{{section}}">{{section}}</span>
		{% endfor %}
	</div>
{% endfor %}
{% endblock %}

